.ui__return-btn{
	border: none;
	padding: 0.1rem 0.7rem;
	display: flex;
	justify-content: center;
	align-items: center;
	fill: $secondary;
	background-color: transparent;
	position: absolute;
	top: 2rem;
	left: 1rem;

	box-icon{
		width: 3.8rem;
		height: 3.8rem;
	}
}

.ui__navbar{
	background-color: $primary-l;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 2rem;
}
.ui__navbar-name{
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	fill: $secondary;

	box-icon{
		margin-right: 0.3rem;
	}
}
.ui__navbar-logout-btn{
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	outline: none;
	padding: .3rem .7rem;
	// border-radius: 10px;
	border-bottom: 2px solid $error;
	color: $error;
	fill: $error;
	background-color: transparent;
	font-weight: bold;
	transition: background-color .3s ease, color .3s ease, fill .3s ease;

	box-icon{
		margin-right: 0.3rem;
	}

	&:hover{
		background-color: $error;
		color: $primary;
		fill: $primary;
	}
}