*{
  padding: 0px;
  margin: 0px;
}

html{
  font-size: 10px;
}

html,
body{
  font-family: $font-text;
  background-color: $primary;
  color: $color-text;
}

body{
  font-size: 1.6rem;
}

body::-webkit-scrollbar {
    width: 5px;     /* Tamaño del scroll en vertical */
    height: 3px;    /* Tamaño del scroll en horizontal */
}
body::-webkit-scrollbar-thumb {
    background-color: $secondary;
    border-radius: 50px;
    transition: background-color 0.5s;
}
body::-webkit-scrollbar-thumb:active {
    background-color: $secondary-o;
}
