
$font-text: 'Open Sans', sans-serif;
$font-title: "";

$primary: #072227;
$primary-l: lighten($primary, 10);
$primary-xl: lighten($primary, 20);

$secondary: #4FBDBA;
$secondary-l: lighten($secondary, 10);
$secondary-o: darken($secondary, 10);
$secondary-xo: darken($secondary, 20);

$color-text: #e6fffe;
$color-text-o: #8d9e9e;
$color-text-xo: #536363;